In [1]:
10

10

In [2]:
print('hello santha')

hello santha

In [3]:
# get input-number
input('enter any number')

''

In [4]:
# give input words
input('enter any words')

''

In [5]:
# get multiple inputs
input('Enter the first value')
input('Enter the second value')

In [ ]:
# get inputs and save it to the variables
firstname=input('Enter the first name')
lastname=input('Enter the last name')
firstname
lastname

'nachi'

In [ ]:
# get inputs and save it to the variables contd...
firstname

'santha'

In [ ]:
# directly assign values to the variables
x=6
age=21
x
age

21

In [ ]:
# directly assign values to the variables contd...
x

6

In [ ]:
# display output to identify datatype
print('santha')
age=input('enter the age')
print(type(age))

santha
<class 'str'>

In [ ]:
# display output  method 1

print('santha')
age=input('enter the age')
age

santha

'24'

In [ ]:
# display output
print('santha')
name=input('enter name')
print(name)

santha
santhanachi

In [ ]:
# display output using concatenation operator and comma operator
firstname=input('Enter the first name')
lastname=input('Enter the last name')
print(firstname+lastname)
print(firstname,lastname)

santhanachi
santha nachi

In [ ]:
# sum of two inputs method 1
a=input('enter the value of a')
b=input('enter the value of b')
c=a+b
c
# output:When adding two inputs it concatenate instead of adding them

'23'

In [ ]:
# sum of two inputs method 2
=input('enter the value of a')
b=input('enter the value of b')
c=a+b
print(c)
# output:When adding two inputs it concatenate instead of adding them

23

In [ ]:
# string in single quote method 1
name='santha'
name

'santha'

In [ ]:
# string in double quotes method 1
name = "santha"
name

'santha'

In [ ]:
# string in single quote method 2
'santha'

'santha'

In [ ]:
# string in double quotes method 2
"santha"

'santha'

In [ ]:
# store strings in variables
name='santha'
identity = 'manager of lena meena agencies,lena traders'
name

'santha'

In [ ]:
# store strings in variables output dispaly contd....
identity

'manager of lena meena agencies,lena traders'

In [ ]:
# multi line String
# use triple times of single quote in one line
print(''' you are in lma ,lt''')

 you are in lma ,lt

In [ ]:
# multi line String
# use triple times of single quote in two lines
print(''' you are in lma 
      lt''')

 you are in lma
      lt

In [ ]:
# multi line String
# use triple times of double quote in one line
print("""you are in lma ,lt""")

you are in lma ,lt

In [ ]:
# multi line String
# use triple times of double quote in two lines 
print("""you are in lma 
      lt""")

you are in lma
      lt

In [ ]:
# multi line classic methods
print('I am Santha\ncompleted B.E')

I am Santha
completed B.E

In [ ]:
# multi line classic methods
# cut line for readability
print('I am Santha\n'
      'completed B.E')

I am Santha
completed B.E

In [ ]:
# integer declaration
# direct number entry
11

11

In [ ]:
# integer declaration
# assigning to variable
x=3456.54346547
print(x)

3456.54346547

In [ ]:
# integer declaration
# mathematical operations
345+456

801

In [ ]:
# integer declaration
# mathematical operations
'345+456'
#output: when it is in single quote it takes as string and print the same

'345+456'

In [ ]:
# float declaration
2334.5657

2334.5657

In [ ]:
# float declaration of adding numbers method 1
2334.5657+35425

37759.5657

In [ ]:
# float declaration of adding numbers method 2 by assining variable

s=5.6
p=5.9
sp=s+p
sp

11.5

In [ ]:
# to round of first process and get the output of numbers
s=5.6
p=5.94
sp=s-p
sp

-0.34000000000000075

In [ ]:
# rounding the above output
round(sp,3)
# 3 is the position to round of the value

-0.34

In [3]:
# casting
# string to integer conversion 
x='6'
x=int(x)
x

6

In [5]:
# casting
# string to integer conversion 
# now do the math operation
x+5

11

In [6]:
# casting
# string to float conversion 
x='6.90'
x=float(x)
x

6.9

In [7]:
# casting
# string to float conversion 
# now do the math operation
x+6785885

6785891.9

In [9]:
# casting
# string to int conversion 
# float can accept integers but integers cant accept float
x='6.90'
x=int(x)
x
# output: string can convert into float but string with do the math nowfloat cannot convert into int

ValueError: invalid literal for int() with base 10: '6.90'

In [10]:
# wrong conversion type 1
value='20.5'
x=int(value)
# output: In value it is assigned as string but to execute we asked in int so it gives error
# output:cannot convert float like string into integers

ValueError: invalid literal for int() with base 10: '20.5'

In [11]:
# wrong conversion type 2
value='20.5a'
x=int(value)
y=float(value)
# output:cannot convert string with characters into float and int

ValueError: invalid literal for int() with base 10: '20.5a'

In [13]:
# do the math now
s=input('enter the number')
p=input('enter the number')
print(s+p)
# output: when we does not give the runtime input in int it concatenates and print the value

3435

In [14]:
# do the math now
# assigin data type int for the runtime integer method 1 
s=int(input('enter the number'))
p=int(input('enter the number'))
print(s+p)
# output: when we give the runtime input in int it add and print the value

69

In [15]:
# do the math now
# assigin data type int for the runtime integer method 2
s=int(input('enter the number'))
p=int(input('enter the number'))
sp=int(s)+int(p)
print(sp)
# output: when we give the runtime input in int it add and print the value

69

In [19]:
# string manipulation
# using f- string method 1
rate=50
qty=input("how much amount of chocolates do u buy?")
qty=int(qty)
output= f'you have bought {qty} chocolates and the total price is {qty*rate}'
print(output)

you have bought 50 chocolates and the total price is 2500

In [21]:
# string manipulation
# using f- string method 2
rate=50
qty=input("how much amount of chocolates do u buy?")
qty=int(qty)
print(f'you have bought {qty} chocolates and the total price is {qty*rate}')

you have bought 50 chocolates and the total price is 2500

In [22]:
# string manipulation
# using format example 1
chocolate='milkybar'
price=90
qty=70
info_string='chocolate:{} price:{} qty:{}'.format(chocolate,price,qty)
print(info_string)

chocolate:milkybar price:90 qty:70

In [36]:
# string manipulation
# using format example 2
name='santha'
age=21
height=56
info_string='name:{} age:{} height: {}'.format(name,age,height)
print(info_string)

name:santha age:21 height: 56

In [33]:
#boolean (true)
married=True
married

True

In [37]:
#boolean (false)
passed=False
passed

False

In [41]:
#none type
sp=None
sp
# output:none is a keyword so it must be in this format only"None" otherwise it occur error

In [42]:
#None type
X=''
X

''

In [43]:
#string none
X='0'
X

'0'

In [46]:
#integer none
X=0
X
# output:always integer none value=0

0

In [49]:
#boolean none(false)
X=False
X
# output:false is a keyword so it must be in this format only"False" otherwise it occur error

True

In [50]:
#boolean none(true)
X=True
X
# output:true is a keyword so it must be in this format only"True" otherwise it occur error

True

In [51]:
#identify data type
type(.2314)

float

In [52]:
#identify data type
type(3445)

int

In [53]:
#identify data type
type('3445')

str

In [54]:
#identify data type
type('gfg')

str

In [55]:
#identify data type
type('.5785')

str

In [56]:
#identify data type
type(True)

bool

In [57]:
#identify data type
type(None)

NoneType

In [58]:
#arithmetic operators
# addition
a=44
b=2342
c=2342
d=232
total=a+b+c+d
total

4960

In [59]:
#arithmetic operators
#subtraction 
a=44
b=2342
c=2342
d=232
total=b-c
total

0

In [63]:
#arithmetic operators
#subtraction 
income=234
expenses=24
profit=income-expenses
print(profit)

210

In [64]:
#arithmetic operators
#multiplication
price=23
quantity=434341
total_price=price*quantity
print(total_price)

9989843

In [69]:
#arithmetic operators
#multiplication with f string
price=23
quantity=434341
total_price=price*quantity
print (f'toatl price {total_price}')

toatl price 9989843

In [70]:
#arithmetic operators
#division
price=23
quantity=434341
total_price=quantity/price
print(total_price)

18884.391304347828

In [71]:
#arithmetic operators
#division with f string method 1 
total_stu=23435
sections=567
print(f'splitted students {total_stu/sections}')

splitted students 41.331569664903

In [72]:
#arithmetic operators
#division with f string method 2 
total_stu=23435
sections=567
split=total_stu/sections
print(f'splitted students {split}')

splitted students 41.331569664903

In [73]:
#arithmetic operators
#integer division |quotient with f string
total_stu=23435
sections=567
split=total_stu//sections
print(f'splitted students {split}')

splitted students 41

In [74]:
#arithmetic operators
#modules 
total_stu=23435
sections=567
split=total_stu%sections
print(f'splitted students {split}')

splitted students 188

In [83]:
#arithmetic operators
#exponent(Power) method 1 
z=9
#square
square=z**2
square
#cube
cube=z**3
cube
#exponent
exponent=z**45
exponent

81

In [86]:
#arithmetic operators
#exponent(Power) method 2 
z=9
#square
square=z**2
print(f'square={square}')
#cube
cube=z**3
print(f'cube={cube}')
#exponent
exponent=z**45
print(f'exponent={exponent}')

square=81
cube=729
exponent=8727963568087712425891397479476727340041449

In [102]:
#operator precedence
#use parenthesis to control and better readability for the output 10
value=(2*(1+1)-2)*5
print(value)

10

In [103]:
#operator precedence
value=2*1+1-2*5
print(value)

-7

In [2]:
#math operation
# #import math library
import math
#output:if we use one library we must first import it before doing the main body of the program..so we first imported before doing the calculations or functions or writing the main body of the program

In [3]:
#finding factorial using math function 
math.factorial(5)

120

In [4]:
#math operation
#finding sqrt using math function 
math.sqrt(169)

13.0

In [6]:
#math operation
#finding pi using math function 
math.pi

3.141592653589793

In [9]:
#math operation
#finding eulers number(e) using math function
math.e

2.718281828459045

In [11]:
#math operation
#trignometry
#convert degree into radians using math operation
degree=68
radians=math.radians(degree)
radians

1.1868238913561442

In [16]:
#math operation
#trignometry
#Finding sin value by using radians
math.sin(radians)
#finding sin value by using degree
math.sin(degree)

-0.8979276806892913

In [17]:
#math operation
#trignometry
#Finding cos value by using radians
math.cos(radians)

0.37460659341591196

In [18]:
# math operation
#trignometry
#Finding cos value by using degree
math.cos(degree)

0.4401430224960407

In [19]:
#math operation
#trignometry
#Finding tan value by using radians
math.tan(radians)

2.4750868534162964

In [20]:
#math operation
#trignometry
#Finding tan value by using degree
math.tan(degree)

-2.0400815980159464

In [24]:
#math operation
#trignometry
#Calculate the area of the land which composed of 50 equi-radii circle of radius 34 feet.The price of 1 sqft land is 98$ 
circle=50
radius=34
price=98
pi=3.14
area=pi*radius**2
total_area=area*circle
total_price=total_area*price
total_price

17786216.0

In [25]:
#math operation
#trignometry
#Calculate the area of the land which composed of 50 equi-radii circle of radius 34 feet.The price of 1 sqft land is 98$ circle=50
circle=50
radius=34
price=98
pi=math.pi
area=pi*radius**2
total_area=area*circle
total_price=total_area*price
total_price
#output:when we use pi by math function instead of assisgning the pi value=3.14 we can see the vast difference in output by comparing the above program

17795237.426994022