In [1]:
#FLow control statements
#comparision operators
#equality
x=6
y=6
x==y

True

In [3]:
#FLow control statements
#comparision operators
#equality
x=89
y=67
x==y

False

In [4]:
#FLow control statements
#comparision operators
#inequality
x=89
y=67
x!=y

True

In [5]:
#FLow control statements
#comparision operators
#inequality
x=6
y=6
x!=y

False

In [6]:
# FLow control statements
#comparision operators
#greater than
x=5
y=8
x>y

False

In [7]:
# FLow control statements
#comparision operators
#greater than
x=9
y=8
x>y

True

In [8]:
# FLow control statements
#comparision operators
#less than
x=9
y=0
x<y

False

In [9]:
#FLow control statements
#comparision operators
#less than
x=9
y=100
x<y

True

In [10]:
#FLow control statements
#comparision operators
#greater than or equal
x=6
y=5
x>=y

True

In [11]:
#FLow control statements
#comparision operators
#greater than or equal
x=5
y=5
x>=y

True

In [12]:
#FLow control statements
#comparision operators
#less than or equal
x=5
y=5
x<=y

True

In [13]:
#FLow control statements
#comparision operators
#less than or equal
x=6
y=5
x<=y

False

In [14]:
#FLow control statements
#comparision operators
#membership operators(in,not in)
string='santha'
#using in
's'in string

True

In [15]:
FLow control statements
#comparision operators
#membership operators(in,not in)
string='santha'
#using not in
'S'in string
#output:python is case sensitive so it notifies uppercase and lowercase too..
#output:In this string I given name as 'santha' in lower case so it find the element when it is in only lowercase ..if you tell to identify the element in uppercase it does not and  it occurs error

SyntaxError: invalid syntax (1500742198.py, line 1)

In [ ]:
#single conditiom if_clause method 1 
agreed=input('Do you agree the terms and conditions?yes or no')
if agreed == 'yes':
    print('user agreed for terms')

user agreed for terms

In [ ]:
#single conditiom if_clause method 2 
agreed=input('Do you agree the terms and conditions?yes or no')
if agreed:
    print('user agreed for terms')

user agreed for terms

In [ ]:
#Double condition if else clause
#exercise 1(homework)
#to identify odd or even number by getting input in run time
num =int(input('Enter the number'))
if( num % 2 == 0):
    print('It is an even number')
else:
    print('It is an odd number')

It is an odd number

In [ ]:
#Double condition if else clause
#if else condition
age=input('Enter the age')
age=int(age)
if age>=18:
    print('Eligible for vote')
else:
    print('Not eligible for vote')

Eligible for vote

In [ ]:
#ternary operator(writing the if else code in single line)
age=input('Enter the age')
age=int(age)
print('cartoon') if age<=10 else print('Horror')

Horror

In [ ]:
#many conditions if..elif..elif..else
state=input('Enter state')
if state == 'Tamilnadu':
    print('Tamil movies')
elif state == ('Kannada'):
    print('Kannada movie')
elif state == ('Rajasthan'):
    print('Hindi movie')
else:
    print('Telungu movie')
#output : In input you can give the string  in parenthesis or does not need to givethe string in parenthesis in condition statement it gives output

Hindi movie

In [ ]:
 #switch statement 
rt =input('Enter the alphabet')
match rt:
    case 'a':
        print('It is a vowel')
    case 'e':
        print('It is a vowel')
    case 'i':
        print('It is a vowel')
    case 'o':
        print('It is a vowel')
    case 'u':
        print('It is a vowel')
    case _:
        print('It is a consonant')
#output:python is case sensitive so it notifies uppercase and lowercase too..
#output:In this string I given 'a,e,i,o,u' in lower case so it find the element when it is in only lowercase ..if you tell to identify the element in uppercase it does not and  it occurs error

It is a consonant

In [ ]:
#Logical operators
#logical and(all conditions must be true)
idly=input('how is today''s idly good or bad?')
chutney=input('how is chutney good or bad?')
if idly =="good" and chutney == "good":
    print('Today breakfast is good')
else:
    print('Today breakfast is not good')
#output:"idly=input('how is today''s idly good or bad?')" 
        # In this line 'today' has two quotes because the single quote the python take as a string and it declares error so we had given two quotes near to today

Today breakfast is good

In [ ]:
#Logical operators
#logical or(atleast one conditions must be true)
lottery1 = input('Have you won?yes or no')
lottery2 = input('Have you won?yes or no')
if lottery1 == 'yes' or lottery2 == 'yes':
    print('Happy customer')
else:
    print('sad customer')

Happy customer

In [ ]:
#list
#create a list
books=['R program','c++','c']
books

['R program', 'c++', 'c']

In [ ]:
#list
#create a list in numbers
numbers=[34,56,78]
numbers

[34, 56, 78]

In [ ]:
#list
#create a list in numbers in numbers and string
candidate=['santha','21','female','7896543123']
candidate

['santha', '21', 'female', '7896543123']

In [ ]:
#list
#when thers is no items it result as null set
books=[]
books

[]

In [ ]:
# list
#add item to a list using append function
books=[]
books
books.append('sql')
books.append('data analytics')
books.append('data scientist')
books

['sql', 'data analytics', 'data scientist']

In [ ]:
# list
#delete the particular item from the list using remove function 
flowers=['sunflower','rose','datura','hibiscus']
flowers
flowers.remove('datura')
flowers.remove('rose')
flowers

['sunflower', 'hibiscus']

In [ ]:
# list
#clear items from the list
flowers=['sunflower','rose','datura','hibiscus']
flowers.clear()
flowers
# output:You did not delete the list ,you just only cleared so it remains an empty list

[]

In [ ]:
# list
#reset and replace list
twowheelers=['scooty pept','streak','pleasure']
twowheelers
#reset list
twowheelers=[]
twowheelers
# output:list name must be in one word we should not give space between two and wheelers

[]

In [ ]:
# list
#reset and replace list
twowheelers=['scooty pept','streak','pleasure']
twowheelers
#replace list
twowheelers=['activa','honda','pulsar']
twowheelers
# output:list name must be in one word we should not give space between two and wheelers

['activa', 'honda', 'pulsar']

In [ ]:
# list
#list indexing
twowheelers=['scooty pept','streak','pleasure']
twowheelers[2]
#note:index starts from 0 in list and must give square brackets for that index number

'pleasure'

In [ ]:
# list
#invalid indexing
twowheelers=['scooty pept','streak','pleasure']
twowheelers[3]
#note:In third position there is no item in the given list so it occurs error

IndexError: list index out of range

In [ ]:
# list
#insert item by using insert function
flowers=['sunflower','rose','datura','hibiscus']
flowers.insert(2,'jasmine')
flowers
#note:index starts from 0 and by the way in second index the item which I gave is added

['sunflower', 'rose', 'jasmine', 'datura', 'hibiscus']

In [ ]:
# list
#replace item 
flowers=['sunflower','rose','datura','hibiscus']
flowers[1]='jasmine'
flowers
#note: to replace there is no replace function we must we use index value with string for replacing

['sunflower', 'jasmine', 'datura', 'hibiscus']

In [ ]:
# list
#find item exists
twowheelers=['scooty pept','streak','pleasure']
'streak'in twowheelers
#note:to find that item is there we use membership operator 'IN' and results in boolean

True

In [ ]:
# list
#total items
flowers=['sunflower','rose','datura','hibiscus']
len(flowers)
#note: len string will count as usually from 1 only

4

In [ ]:
# list
# nested list
flower_1=['sunflower', 'jasmine', 'datura', 'hibiscus']
flower_2=['sunflower', 'rose', 'jasmine', 'datura', 'hibiscus']
flowers=[flower_1,flower_2]
flowers

[['sunflower', 'jasmine', 'datura', 'hibiscus'],
 ['sunflower', 'rose', 'jasmine', 'datura', 'hibiscus']]

In [ ]:
# tuple
#create tuple
week_days=('monday','tuesday','wednesday','thursday','friday')
week_days

('monday', 'tuesday', 'wednesday', 'thursday', 'friday')

In [ ]:
# tuple
#create tuple in numbers
numbers=(34,56,78)
numbers

(34, 56, 78)

In [ ]:
#tuple
#create a tuple in numbers in numbers and string
candidate=('santha','21','female','7896543123')
candidate

('santha', '21', 'female', '7896543123')

In [ ]:
#tuple
#count items
week_days=('monday','tuesday','wednesday','thursday','friday')
week_days.count('friday')
#note:It counts the particular item occurs how many times in the list

1

In [ ]:
#tuple
#indexing
week_days=('monday','tuesday','wednesday','thursday','friday')
week_days[4]
#note:it displays the value which is in third position and the index starts from 0 in tuple too....

'friday'

In [ ]:
#tuple
#get index
week_days=('monday','tuesday','wednesday','thursday','friday')
week_days.index('tuesday')
#note: it shows the particular item in which position by getting index

1

In [ ]:
#tuple
#total items
week_days=('monday','tuesday','wednesday','thursday','friday')
len(week_days)
#note:It count the number of items in the tuple by using len function

5

In [ ]:
#list
#to print matrix value
m=[[1,2,3],[4,5,6],[7,8,9]]
print(f'{m[0]}\n{m[1]}\n{m[2]}')
#note: print the numbers in matrix value by using F string

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#dictionary
#create dictionary
score = {
    'tam':78,
    'eng':90,
    'mat':95,
    'cse':98,
    'phy':79,
    'che':86
}
score
#note:we must give only colon for assiging values in dictionary and we must give comma after assiging each value except last one

{'tam': 78, 'eng': 90, 'mat': 95, 'cse': 98, 'phy': 79, 'che': 86}

In [ ]:
#dictionary
#add entry in the null set
students={}
students[20107038]='partiban'
students[20107045]='subash'
students[20107034]='mano'
students
#note:first we created an empty set then we added items
#output:It entries with the register number corresponding to the particular name

{20107038: 'partiban', 20107045: 'subash', 20107034: 'mano'}

In [ ]:
#dictionary
#remove entry by using pop function
students={}
students[20107038]='partiban'
students[20107045]='subash'
students[20107034]='mano'
students
students.pop(20107038)
students
#output: it removes the particular register number corresponding to the particular name

{20107038: 'partiban', 20107045: 'subash'}

In [ ]:
# dictionary
#access value
students={}
students[20107038]='partiban'
students[20107045]='subash'
students[20107034]='mano'

students[20107034]
#note:it access value by keys,here register numbers are keys and names are values

'mano'

In [ ]:
# dictionary
#modify value
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
students
students[20107045]='thangam'
students
#note:to modify we must not give students for each key and value if u give it does not modify

{20107038: 'partiban', 20107045: 'thangam', 20107034: 'mano'}

In [ ]:
# dictionary
#get keys 
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
students
students.keys()
#output:it displays only keys as we get only keys

dict_keys([20107038, 20107045, 20107034])

In [ ]:
# dictionary
#get values
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
students
students.values()
#output:it displays only values as we get only values

dict_values(['partiban', 'subash', 'mano'])

In [ ]:
# dictionary
#find key exists in students method 1
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
students
20107034 in students
#output:it checks if the particular register number is there if it is there it returns true

True

In [ ]:
# dictionary
#find key exists in students method 2
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
students
20107039 in students.keys()
#output:it checks if the particular register number is there if it is there it returns true

False

In [ ]:
# dictionary
#find value exists in students method 1
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
'subash' in students.values()
#output:it checks if the particular name is there if it is there it returns true and if you give the values 'name' you must give values() instead if you give keys it occurs error because names are in value position

True

In [ ]:
# dictionary
#total items
students= {
    20107038:'partiban',
    20107045:'subash',
    20107034:'mano'
}
len(students)
#output:it counts the item by using len()

3

In [2]:
#set
#getting only a value
a={-5,-9,0,5,2,3}
b={1,4,3,2,5,6}
a

{-9, -5, 0, 2, 3, 5}

In [ ]:
#set
#getting only b value
a={-5,-9,0,5,2,3}
b={1,4,3,2,5,6}
b

{1, 2, 3, 4, 5, 6}

In [ ]:
#set
#union value
a={-5,-9,0,5,2,3}
b={1,4,3,2,5,6}
a.union(b)
#output:it joins the both set and if any number is repeated it executes only one tim ein the overall set

{-9, -5, 0, 1, 2, 3, 4, 5, 6}

In [ ]:
#set
#intersection value
a={-5,-9,0,5,2,3}
b={1,4,3,2,5,6}
a.intersection(b)
#output:it take sonly the common elements of boths set

{2, 3, 5}

In [ ]:
#set
#difference value
a={-5,-9,0,5,2,3}
b={1,4,3,2,5,6}
a.difference(b)
#output:it cancels the common value in both set and displays the remaining values in set a

{-9, -5, 0}

In [ ]:
set
#difference value
a={-5,-9,0,5,2,3}
b={1,4,3,2,5,6}
b.difference(a)
#output:it cancels the common value in both set and displays the remaining values in set b

{1, 4, 6}

In [ ]:
#dictionary
#fromkeys()
keys=('rahul','ram''raj','ravi')
res=dict.fromkeys(keys,'variablz student')
res
#output:in this program each key is equal to common value and we can obtain the result by using this code

{'rahul': 'variablz student',
 'ramraj': 'variablz student',
 'ravi': 'variablz student'}

In [ ]:
#dictionary
#set_default()
keys={
    'name':'rahul',
    'qualification':'B.E',
    'course':'data science',
    }
res=keys.setdefault('age',23)
res
#output:setdefault we should not give underscore and it add at the last in the output and accepts the input only in dictionary

23

In [ ]:
#dictionary
#remove entry by using pop function 
students={}
students[20107038]='partiban'
students[20107045]='subash'
students[20107034]='mano'
students.popitem()
students
#output: it removes the last row of the register number corresponding to the particular name when we commomly give the 'dictnmae.popitem()'

{20107038: 'partiban', 20107045: 'subash'}

In [ ]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [1]:
# while loop
#counting the numbers
count=1
while(count<=5):
    print(f'counting{count}')
    count+=1

counting1
counting2
counting3
counting4
counting5